:root {
    --main-bg-color: #F0EFF4;
    --main-fg-color: #BD1E1E;
    --main-nav-color: #083D77;
    --main-textPrim-color: #F0EFF4;
    --main-textSec-color: #083D77;
}

nav {
    font-family: 'Lato';
}

.navbar {
    height: 6em;
    /* overflow: hidden; */
    background-color: #cfd8dc;
}

body {
    overflow-x: hidden;
    font-family: 'Lato';
}

/* Split the screen in half */
.split {
    height: 100%;
    min-height: 20em;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 6em;
    /* overflow-x: hidden; */
    padding-top: 20px;
    -webkit-transition: width 2s ease-out;
    -moz-transition: width 2s ease-out;
    -o-transition: width 2s ease-out;
    transition: width 2s ease-out;
}

.splitTwo {
    width: 50%;
}

.splitThree {
    width: 33.33%;
}

.splitFour {
    width: 25%;
}


/* Control the left side */
.One {
    left: 0;
    background-color: #f5f5f5;
    z-index: 100;
}

/* Control the left side */
.Two {
    left: 50%;
    background-color: #eeeeee;
    z-index: 95;
}

/* Control the right side */
.Three {
    left: 66.66%;
    background-color: #f5f5f5;
    z-index: 90;
}

/* Control the right side */
.Four {
    left: 75;
    background-color: #eeeeee;
    z-index: 85;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 50%;
}