<!DOCTYPE html>
{% autoescape true %}
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Draft</title>

	<!-- Bootstrap core CSS -->
	<link href="../bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom fonts for this template -->
	<link href="bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

	<!-- Plugin CSS -->
	<link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

	<!-- Custom styles for this template -->
	<!-- <link href="css/freelancer.min.css" rel="stylesheet"> -->
	<link href="bootstrap/css/override.css" rel="stylesheet">

	<script src="https://js.pusher.com/4.3/pusher.min.js"></script>

	<script>
			console.log('We are on search page');
			var pusher = new Pusher('5abda3965495f71e0f72', {
				cluster: 'ap1',
				authEndpoint: '/pusher/auth',
				forceTLS: true
			});
		
			var privateChannel = pusher.subscribe('private-channel');
			privateChannel.bind('pusher:subscription_succeeded', function() {
				console.log('We are Successful in auth');
			});

			privateChannel.bind('search-event', function(data) {
				alert(JSON.stringify(data));
				
				$("#fHandle").replaceWith('<h2>'+data.fHandle+'</h2>');
				
				var triggered = privateChannel.trigger('client-acquiredevent', { 'fHandle': '{{fHandle}}' });
				alert('Client Event Hopefully?');
			});

			privateChannel.bind('client-acquiredevent', function(data) {
				alert(JSON.stringify(data));
				$("#fHandle").replaceWith('<h2>'+data.fHandle+'</h2>');
			});
	</script>

</head>

<nav class="navbar navbar-light bg-light">
	<h2>Squadup</h2>
	<div class="dropdown">
		<button class="btn btn-warning dropdown-toggle btnGame" style="min-width: 12em;" type="button" id="dropdownMenu1"
		 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Fortnite
		</button>
	</div>
	{% if user %}
		<button type="submit" class="btn btn-secondary" style="min-width: 12em;">Searching</button>
	{% else %}
		<button type="submit" class="btn btn-secondary" style="min-width: 12em;">Searching</button>
	{% endif %}
	<button type="button" class="btn btn-danger" style="min-width: 12em;" onclick="location.href = '/cancel';">Cancel</button>
	<!-- <img class="rounded-circle" style="height: 64px;" src="img/profiles/MaleOne.png" alt="Circle image"> -->
	{% if user %}
	<div class="dropdown">
		<button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
		 aria-expanded="false">
			<img class="rounded-circle" style="height: 64px;" src="bootstrap/img/profiles/MaleOne.png" alt="Circle image">
		</button>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
			<button type="button" class="dropdown-item" onclick="location.href = '/profile';">profile</button>
			<a class="dropdown-item" href="{{ url|safe }}" class="btn">{{ url_linktext }}</a>
		</div>
	</div>
	{% else %}
	<a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a>
	{% endif %}
</nav>

<body>
	<div id="User" class="split One" style="width: 25%">
		<div class="centered">
			<img src="bootstrap/img/profiles/MaleOne.png" alt="Avatar woman">
			<h2>{{ fHandle }}</h2>
			<h4>Total Score: 3000</h4>
			<h4>50% Win rate in solo</h4>
			<h4>45% Win rate in duo</h4>
		</div>
	</div>

	<div id="MatchOne" class="split Two" style="width: 25%; left: 25%;">
		<div class="centered">
			<img src="bootstrap/img/profiles/FemaleOne.png" alt="Avatar man">
			<h2 id="fHandle">Match One</h2>
			<p>Some text here too.</p>
		</div>
	</div>

	<div id="MatchTwo" class="split Three" style="width: 25%; left: 50%;">
		<div class="centered">
			<img src="bootstrap/img/profiles/MaleTwo.png" alt="Avatar man">
			<h2>Match Two</h2>
			<p>Some text here too.</p>
		</div>
	</div>

	<div id="MatchThree" class="split Four" style="width: 25%; left: 75%;">
		<div class="centered">
			<img src="bootstrap/img/profiles/FemaleTwo.png" alt="Avatar man">
			<h2>Match Three</h2>
			<p>Some text here too.</p>
		</div>
	</div> -->

	<!-- Bootstrap core JavaScript -->
	<script src="bootstrap/vendor/jquery/jquery.min.js"></script>
	<script src="bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="bootstrap/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

	<!-- Contact Form JavaScript -->
	<script src="bootstrap/js/jqBootstrapValidation.js"></script>

	<!-- Custom scripts for this template -->
	<script src="bootstrap/js/override.js"></script>
</body>

</html>
{% endautoescape %}